.App {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
  margin: 20px auto;
  text-align: center;
}

#Table {
  width: 100%;
}

#Table table {
  width: 100%;
}

#Table td {
    border: 1px solid #ccc;
    width: 50%;
}

#Table th {
    width: 50%;
}

#Form label {
    display: block;
    margin: 15px 0;
}

#Form input {
  margin-left: 10px;
}

#Form button {
  width: 250px;
  padding: 15px 0;
  background-color: tomato;
  border: none;
  border-radius: 4px;
  color: white;
  margin: 25px 0;
}